.main-image {
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url(./hQaO4t3rGh.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
